/* CSS declarations go here */
body {
    background-image: url(/images/water.jpeg);
    background-size: 100rem;
    background-repeat: no-repeat;
    color: #e1231a ;
    height: 100vh;
    margin: 0;
}