.radiobuttons {
    display: flex;
    max-width: 5rem;
}


svg {
    fill: #e1231a !important;
}

.Form {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.topicform {
    padding: 0.25rem 1rem; 
}

.formyesno {
    display: flex;
    max-width: 5rem;
}