.redlogo {
    height: 30px;
}

.appbar {
    background: #e1231a !important;
}

.appbar :nth-child(1) {
    display: flex;
    align-items: center;
}

.logoutbutton {
    line-height: initial;
}

.profilebtn {

}

.logoutbtn {
    color: white !important;
    height: 36px;
}