.headerWrapper :nth-child(1) {
  height: 500px;
}

.redlogo {
    height: 30px;
}

.appbar {
    background: #e1231a !important;
}

.appbar :nth-child(1) {
    /* line-height: 0 !important; */
    display: flex;
    align-items: center;
}

.logoutbutton {
    line-height: initial;
}