.navlinks {
    display: flex;
}

.copyright {
    /* display: flex;
    justify-content: center; */
    /* position: relative;
    bottom: 0; */
}

.copyright h1 {
    position: relative;
    bottom: 0;

}

.inlayout {
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    display: flex !important;
    justify-content: center !important;
}
