.navlinks {
    display: flex;
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyright h1 {
    position: relative;
    bottom: 0;
}

.inlayout {
    display: flex;
    justify-content: center;
}