
.radioButton {
    margin-bottom: 16px;
    width: 50px;
}
.RadioButtonGroupStyle {
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'space-around';
}
.Form {
    display: 'flex';
    justify-content: 'center';
}
.Paper {
    width: 700px
}

.review-card {
    margin: 1rem;
    flex: 0 1 33%;
}

.review-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}