 /* .theOneAbovePaper :nth-child(1){
    width: 75% !important;
     height: 100%; 
}  */

.loginwrapper {
    height: 100% !important;
    width: 80% !important;
    display: flex;
    flex-wrap: wrap;
}

.username :nth-child(1) {
}