.loginform {
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

.loginbanner {
    margin: 1.5rem 0 !important;
}

.loginformwrapper {
    padding: 1rem;
}

.loginfields {
    /* padding: 2rem; */
    height: 100% !important;
    width: auto !important;
    max-width: 700px !important;
    min-width: 350px !important; 
    text-align: left !important; 
}

.username {
    min-width: 275px !important;
    margin-bottom: 0;
}

.password {
    min-width: 275px !important;  
    margin-bottom: 0;  
}

.loginfields h2 {
    margin-bottom: 0 !important;
}

.enterButton {
    margin: 0 50px !important;
    height: 100%;
}

.enterButton button {
    height: 100% !important;
    
}

.enterButton h1 {
    color: blue;
    margin: 0 !important;
    /* height: 30px; */
    width: 275px;
}